.container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers content horizontally */
     /* Centers content vertically */
    margin: auto;
    width: 700px; /* Set a width to help with centering */
    margin-top: 100px;
    background: white;
    padding: 30px;
    border-radius: 8px; /* Optional: Add a border radius for styling */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Optional: Shadow for emphasis */
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}
.text{
    color: rgb(71, 24, 180);
    font-size: 48px;
    font-weight: 700;
}

.underline {
    width: 61px;
    height: 6px;
    background:rgb(71, 24, 180) ;
    border-radius: 9px;
}

.inputs {
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    width: 480px;
    height: 80px;
    background: rgb(245, 243, 243);
    border-radius: 6px;
}


.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: rgb(127 123 122);
    font-size: 19px;
}

.forgot-password{
    
    margin-top: 27px;
    color: rgb(136, 136, 136);
    font-size: 18px;
}

.forgot-password span{
    color: rgb(71, 24, 180);
    cursor: pointer;
}

.submit-container {
    display: flex;
    gap: 30px;
    margin: 60px auto;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: aliceblue;
    background: rgb(71, 24, 180);
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}

.gray{
    background: rgb(245, 243, 243);
    color: rgb(102, 101, 101);
}